<div data-bind="with: admin.account" class="tab-pane active" id="accounts">
    <div class="row">
        <div class="col-md-4">
            <h3>Ajout de compte</h3><hr />
            <form data-bind="submit: add" id="addAccountForm">
                <div data-bind="with: add_fields">
                    <input data-bind="value: lastname" class="form-control" name="lastname" placeholder="Prénom" /><br />
                    <input data-bind="value: firstname" class="form-control" type="text" name="firstname" placeholder="Nom" /><br />
                    <input data-bind="value: promo" class="form-control" name="promo" placeholder="Promo" /><br />
                    <button class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        </div>

        <div class="col-md-8">
            <h3>Liste des comptes</h3><hr />
            <p>
                <ul class="nav nav-tabs">
                    <li data-bind="click: display_active"><a href="#">Tous</a></li>
                    <li data-bind="click: display_debts"><a href="#">Solde négatif</a></li>
                    <li data-bind="click: display_deleted"><a href="#">Supprimés</a></li>
                </ul>
            </p>
            <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nom</th>
                            <th>Solde</th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: accounts">
                        <tr>
                            <td data-bind="text: number"></td>
                            <td>
                                <span data-bind="text: lastname"></span>
                                <span data-bind="text: firstname"></span>
                            </td>
                            <td><span data-bind="text: balance"></span> €</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>