{% extends 'base.html' %}
{% block title %} - Comptes{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/search.js"></script>
<script type="text/javascript" src="/static/js/account.js"></script>
<script type="text/javascript">
	ko.applyBindings(accountModel);
</script>
{% endblock %}

{% block content %}
{% include 'search.html' %}

<div class="row">
	<div data-bind="visible: show_intro" class="col-md-4">
		<h2>Gestion des comptes</h2><hr />
		<p>Cette page donne les détails du compte sélectionné ainsi que la liste de
			toutes les transactions qui ont été effectuées.</p>
		<p>Sélectionnez un compte dans la barre de recherche pour commencer.</p>
	</div>
	
	<div data-bind="ifnot: show_intro" class="col-md-4">
		<h2 data-bind="text: fullname"></h2><hr />
		<h3>
			<span data-bind="text: id" class="label label-primary"></span>
			<span data-bind="text: promo" class="label label-success"></span>
			<span data-bind="if: staff" class="label label-danger"></span>
		</h3>
		<h3>Solde : <span data-bind="text: balance"></span>€</h3>
		<p><b>Date de création :</b> <span data-bind="text: date"> </span></p>
		
		<p>
			<button class="btn btn-default">Editer</button>
			<button class="btn btn-danger">Supprimer</button>
		</p>
	</div>
	
	<div class="col-md-8">
		<h2>Transactions</h2><hr />
		{% include 'transactions.html' %}
	</div>
</div>

{% endblock %}