{% extends 'base.html' %}
{% block title %} - Administration{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/admin.js"></script>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-md-2">
            <h3>Administration</h3><hr />
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#account_add" data-toggle="pill">Ajout de compte</a></li>
                <li><a href="#account_list" data-toggle="pill">Liste des comptes</a></li>
            </ul>
        </div>

		<div class="col-md-10 tab-content">
            {% include 'admin/account_add.html' %}
            {% include 'admin/account_list.html' %}
        </div>
	</div>

{% endblock %}
