{% extends 'base.html' %}
{% block title %} - Administration{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/admin.js"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h3>Ajout de compte</h3><hr />
			<form id="addAccountForm">
				<div class="apiresult"></div>
				
				<input class="form-control" type="text" name="firstname" placeholder="Nom" /><br />
				<input class="form-control" name="lastname" placeholder="Prénom" /><br />
				<input class="form-control" name="promo" placeholder="Promo" /><br />
				<button class="btn btn-primary">Ajouter</button>
			</form>
		</div>
		
		<div class="col-md-6">
			<h3>Liste des comptes</h3><hr />
			<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th> N°</th>
							<th> Nom</th>
							<th> Solde</th>
						</tr>
					</thead>

					<tbody id="hisTable">
						
					</tbody>
			</table>
		</div>
	</div>

{% endblock %}
