<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Maison ISEN{% block title %}{% endblock %}</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body>
		{% include 'menu.html' %}

		<div class="container">
			<div id="encasAlert" class="alert alert-danger" style="display: none;"></div>
            <div id="encasSuccess" class="alert alert-success" style="display: none;">
                <span id="success_message"></span><br />
                <p><button class="btn btn-default btn-sm">Fermer</button></p>
            </div>

			{% block content %}{% endblock %}
		</div>
		
        {% include 'footer.html' %}

        <script data-main="/static/js/app.js" src="/static/js/require.js"></script>
		{% block javascript %}{% endblock %}
        {% include 'js_admin.html' %}
	</body>
</html>
