{% extends 'base.html' %}
{% block title %} - Caisse{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
<script type="text/javascript" src="/static/js/checkout.js"></script>
<script type="text/javascript" src="/static/js/transaction.js"></script>
<script type="text/javascript">
    var viewModels = {
        checkout : checkoutModel,
        transaction : transactionModel,
        is_admin : ko.observable()
    };

    viewModels.checkout.make_checkout = function() {
            checkoutModel.checkout(transactionModel.getTransactions);
    }

    transactionModel.show_revoke(false);
    transactionModel.show_all = false;

	ko.applyBindings(viewModels);

    current.search_callback = function(account_id) {
        transactionModel.getTransactions(account_id);
        checkoutModel.getBalance(account_id);
        checkoutModel.checkout_focus(true);
    };
</script>
{% endblock %}

{% block content %}
	{% include 'search.html' %}
	
	<div class="row">
		<div class="col-md-8">
			<h3>Transactions</h3><hr />
			{% include 'transactions.html' %}
		</div>
		
		<div class="col-md-4">
			<h3>Bienvenue</h3><hr />
			<p>Dans <b>Encas</b>, application de gestion de la Maison ISEN.</p>
			<p>La <b>barre d'outils</b> en haut de la page parmet de <b>rechercher</b> un étudiant par
				son <b>numéro de compte</b> ou son <b>nom de famille.</b><br />
			</p>
			<p>
				Effectuez des <b>transactions</b> sur le compte sélectionné en rentrant le <b>montant de l'opération</b>
				dans la barre <b><i>Montant</i></b> en bas de page.<br />
			</p>
			<p><b>Si vous faites une erreur</b>, révoquez la transaction puis réeffectuez la.</p>
		</div>


	</div>
	
	<div data-bind="with: checkout" class="row">
		<center>
			<p><b>Solde : <span data-bind="text: balance"> </span>€</b></p>
			<form data-bind="submit: make_checkout" id="checkout" class="form-inline" role="form">
				<div class="form-group">
					<div class="input-group">
						<input data-bind="hasFocus: checkout_focus, value: checkout_price" class="form-control" type="text" placeholder="Montant">
						<span class="input-group-addon">€</span>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Go !</button>
			</form>
        </center>
	</div>

{% endblock %}
