{% extends 'base.html' %}
{% block title %} - Caisse{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/checkout.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}

{% block content %}
	{% include 'search.html' %}
	
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th> Operation n°</th>
						<th> Montant</th>
						<th> Solde</th>
					</tr>
				</thead>

				<tbody id="transactionList">
					
				</tbody>


			</table>

		</div>

		<div class="col-md-4 col-md-offset-1"> 
			<table class="table">
				<thead>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Total</th>
				</thead>
				<tbody>
					<tr>
						<td>Direct</td>
						<td>1</td>
						<td>2.6</td>
						<td>2.6</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>11.5</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row">				
		<center>
			<form id="checkout" class="form-inline" role="form">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" id="directInput" type="text" placeholder="Montant"> 
						<span class="input-group-addon">€</span>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" id="directInputBtn">Go !</button>
			</form>
	</div>
		</center>

{% endblock %}
