<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Maison ISEN</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">Caisse</a></li>
      <li><a href="/account">Comptes</a></li>
      <li><a href="/admin">Administration</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li id="wait" style="display: none;"><p class="navbar-text">Chargement...&nbsp;</p></li>
        <li><p class="navbar-text">{{ current_user.username }}&nbsp;&nbsp;&nbsp;</p></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
  </div>
</nav>